$soft-color: rgba(200, 200, 200, 0.8);
* {
  margin: 0;
  padding: 0;
}
p {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header {
  .logo {
    height: 100%;
  }
  .avatar {
    width: 22%;
    border-radius: 50%;
    border: 2px solid $soft-color;
    justify-self: right;
    margin-right: 10%;
  }
  .regbtn {
    div {
        img{
            height: 75%;
            border-radius: 50%;
        }
      border: 1px solid $soft-color;
      gap: 5px;
      border-radius: 5px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    height: 65%;
    gap: 2%;
    justify-content: center;
    display: flex;
  }
  display: flex;  
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid $soft-color;
  height: 50px;
  justify-content: space-between;
  gap: 1%;
}

.mainpage {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.4%;
  padding: 1%;
}

.fileContainer {
  img {
    width: 90%;
    height: 75%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 2px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid $soft-color;
  margin-bottom: 0.4%;
}
