$soft-color: rgba(200, 200, 200, 0.8);
* {
  margin: 0;
  padding: 0;
}
p {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header {
  .logo {
    height: 100%;
  }
  .right_div{
    display: flex;
    align-items: center;
    height: 100%;
  }
  .logout{
      .avatar {
        height: 75%;
        border-radius: 50%;
        border: 2px solid $soft-color;
        justify-self: right;
      }
      img{
        height: 40%;
      }
      display: flex;
      align-items: center;
      gap: 10px;
      height: 100%;
      width: 100%;
      margin-left: 50px;
      justify-content: right;
  }:hover{cursor: pointer;}
  .regbtn {
    div{
        img{
            height: 60%;
        }
        border: 1px solid $soft-color;
        gap: 5px;
        border-radius: 5px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    :hover{
        cursor: pointer;
      }
    height: 65%;
    gap: 2%;
    justify-content: center;
    display: flex;
  }

  top: 0;
  z-index: 99;
  position: sticky;
  display: flex;  
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid $soft-color;
  height: 50px;
  justify-content: space-between;
  background-color: #ffffff;
  gap: 1%;
}

.mainpage {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.3%;
  padding: 1%;
}

.fileContainer {
  .top_buttons{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .fileIcon{
    width: 60%;
    height: 70%;
  }
	display: flex;	
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 200px;
	gap: 2px;
	height: 250px;
	border-radius: 10px;
	border: 1px solid $soft-color;
	margin-bottom: 0.3%;
}

.authwindow{
    div, input{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 20%;
        border: 1px solid $soft-color;
        border-radius: 5px;    
    }:hover{
        cursor: pointer;
    }
    input{
        width: 80%;
        padding-left: 5%;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    right: 25px;
    top: 50px;
    gap: 5px;
    height: 150px;
    background-color: #ffffff;
    border: 1px solid $soft-color;
}

.plusIcon{
	position: fixed;
	display: flex;
	z-index: 99;
	bottom: 2%;
	right: 1%;
	width: 50px;
	height: 50px;
	color: #2299f8;
	cursor: pointer;
}

.addFileInv{
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	padding-top: 4%;
	background-color: rgba(100, 100, 100, 0.5);
}

.addFileField{
	.icon{
		width: 40%;
		height: 40%;
		color: rgba(100, 100, 100, 0.5);
	}
	p{
		color: rgba(100, 100, 100, 0.5);
	}
	label{
    input{
      display: none
    }
    border: 1px solid $soft-color;
    border-radius: 7px;
    width: 70%;
	  height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	}
  div{
    p{
      color: #000000;
    }
    width: 100px;
    height: 50px;
    background-color: $soft-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
  }
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5%;
	width: 40%;
	height: 75%;
	background-color: #ffffff;
	border-radius: 7px;
}